.photo-view-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 85%;
  width: 100%;
  flex-direction: column;
}
img{
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.remove-button{
  margin-top: 1%;
  background-color: #F0EDCF;
  width: 200px;
  height: 41px;
  cursor: pointer;
  &:disabled{
    cursor: not-allowed;
  }
}
