.gallery{
  height: 100%;
  margin-left: 100px;
  text-align: -webkit-center;
  overflow-y: auto;
}
.img-container{
  width: fit-content;
}
img{
  border-radius: 3px;
  &.isFavorite{
    border: 5px solid #FFD700;
  }
}

@supports (grid-area: auto) {
  @media screen  and (min-width: 40em){
    .gallery{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 1em;
    }

  }

  @media screen  and (min-width: 80em){
    .gallery{
      grid-template-columns: repeat(4,1fr);
    }

  }
}

